.Abilities {
  &__Ability {
    color: #fff;

    &-info {
      line-height: 125%;
      margin-bottom: 12px;
    }

    &-title {
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &-video {
      width: 100%;
    }
  }

  &__Keys {
    display: flex;
    margin-bottom: 24px;
  }

  &__Key {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 80px;
    padding: 4px;
    width: 80px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &--active {
      background: rgba(255, 255, 255, 0.1);
    }

    &-Icon {
      height: auto;
      width: 40px;
    }

    &-Value {
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px;
      display: grid;
      place-items: center;
    }
  }

  @media (max-width: 960px) {
    &__Key {
      outline: none;
    }
  }
}
