.Main {
  background: url('../../assets/images/cover.png');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  overflow: hidden;

  > div {
    padding: 3rem;
  }

  &__img {
    max-height: calc(100vh - 6rem);
    width: auto;
  }

  &__left {
    height: calc(100vh - 6rem);
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__middle {
    display: grid;
    place-items: center;
  }

  @media (max-width: 1184px) {
    grid-template-columns: auto;
    grid-template-areas:
      'list list'
      'image info';
    overflow: auto;

    &__img {
      max-height: calc(100vh - 6rem - 96px);
    }

    &__left {
      display: flex;
      grid-area: list;
      height: auto;
    }

    &__middle {
      grid-area: image;
    }

    &__right {
      grid-area: info;
    }
  }

  @media (max-width: 960px) {
    grid-template-areas:
      'list'
      'image'
      'info';
  }
}
