.Main {
  background: url('../../assets/images/cover.png');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;

  > div {
    padding: 3rem;
  }

  &__middle__img {
    max-height: calc(100vh - 6rem);
    width: auto;
  }
}
