.AgentTile {
  $self: &;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: 0.2s ease;
  width: 100%;

  &--active {
    #{$self}__name {
      color: #eaeeb2;
    }
  }

  &__img {
    margin-right: 1rem;
  }

  &__name {
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
  }

  @media (max-width: 1240px) {
    &__name {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 960px) {
    margin-bottom: 0rem;
    outline: none;
  }
}
